.switch {
	background-color: #ccc;
	position: relative;
	cursor: pointer;
	transition: background-color 0.3s;
	border: 1px solid black;
}

.circle {
	background-color: var(--background-color-light);
	border-radius: 0;
	position: absolute;
	transition: transform 0.3s;
	border: 1px solid black;
}

input[type="checkbox"] {
	display: none;
}
input[type="checkbox"]:checked + .switch.green {
	background-color: #7FC97C;
}
input[type="checkbox"]:checked + .switch.blue {
	background-color: #7BB2C6;
}
input[type="checkbox"]:checked + .switch .circle {
	transform: translateX(30px);
}

/* darkmode */
.switch.darkmode {
	background: white;
	position: relative;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 100%;
	font-size: 32px;
	padding: 4px;
}
