.switch.darkmode {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background-color: #ccc;
	position: relative;
	cursor: pointer;
	transition: background-color 0.3s;
}

.switch.darkmode.circle {
	width: 42px;
	height: 42px;
	top: 4px; 
	left: 4px;
	color: #7FC97C;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	transition: transform 0.3s;
}

input[type="checkbox"]:checked + .switch.darkmode {
	background-color: #303030;
}
input[type="checkbox"]:checked + .switch.darkmode .circle {
	transform: scale(1.2);
	background-color: #6e6e6e;
	background-image: url("data:image/svg+xml;utf8,<svg viewBox='40 50 150 150' fill='%23bab700' xmlns='http://www.w3.org/2000/svg'><path d='m 129.44119,100.08536 a 28.622026,28.622026 0 0 1 1.4025,8.82686 28.622026,28.622026 0 0 1 -28.62202,28.62202 28.622026,28.622026 0 0 1 -13.392983,-3.36362 27.506884,27.506884 0 0 0 24.915793,16.00213 27.506884,27.506884 0 0 0 27.50685,-27.50685 27.506884,27.506884 0 0 0 -11.81014,-22.58054 z'/></svg>");
}

input[type="checkbox"]:not(:checked) + .switch.darkmode .circle {
	background-image: url("data:image/svg+xml;utf8,<svg viewBox='32 72 150 150' fill='%23edea2b' stroke='%23FFA500' stroke-width='2' xmlns='http://www.w3.org/2000/svg'><path d='M 104.99979 88.65402 C 102.42567 88.65402 100.35356 90.726124 100.35356 93.300248 L 100.35356 104.22671 A 44.605755 44.605755 0 0 0 76.973596 113.90261 L 69.253654 106.18267 C 67.433474 104.36249 64.502659 104.36249 62.682479 106.18267 C 60.862298 108.00285 60.862298 110.93314 62.682479 112.75332 L 70.402938 120.47378 A 44.605755 44.605755 0 0 0 60.726526 143.85375 L 49.800578 143.85375 C 47.226454 143.85375 45.153833 145.92586 45.153833 148.49998 C 45.153833 151.0741 47.226454 153.14621 49.800578 153.14621 L 60.726526 153.14621 A 44.605755 44.605755 0 0 0 70.402938 176.52618 L 62.682479 184.24663 C 60.862298 186.06682 60.862298 188.99711 62.682479 190.81729 C 64.502659 192.63747 67.433474 192.63747 69.253654 190.81729 L 76.973596 183.09735 A 44.605755 44.605755 0 0 0 100.35356 192.77325 L 100.35356 203.69971 C 100.35356 206.27383 102.42567 208.34594 104.99979 208.34594 C 107.57392 208.34594 109.64654 206.27383 109.64654 203.69971 L 109.64654 192.77325 A 44.605755 44.605755 0 0 0 133.02599 183.09735 L 140.74645 190.81781 C 142.56663 192.63799 145.49744 192.63799 147.31762 190.81781 C 149.1378 188.99763 149.1378 186.06682 147.31762 184.24663 L 139.59716 176.52618 A 44.605755 44.605755 0 0 0 149.27358 153.14621 L 160.19952 153.14621 C 162.77365 153.14621 164.84627 151.0741 164.84627 148.49998 C 164.84627 145.92586 162.77365 143.85375 160.19952 143.85375 L 149.35729 143.85375 A 44.605755 44.605755 0 0 0 139.65091 120.42004 L 147.31762 112.75332 C 149.1378 110.93314 149.1378 108.00285 147.31762 106.18267 C 145.49744 104.36249 142.56663 104.36249 140.74645 106.18267 L 133.07973 113.84938 A 44.605755 44.605755 0 0 0 109.64654 104.143 L 109.64654 93.300248 C 109.64654 90.726124 107.57392 88.65402 104.99979 88.65402 z '/></svg>");
}

