:root {
	--background-color-light: #ffffff;
	--text-color-light: #000000;
	--background-color-dark: #121212;
	--text-color-dark: #ffffff;
}

html * {
	font-family: DMSans;
}

.dark-mode {
	background-color: var(--background-color-dark);
	color: var(--text-color-dark);
}

body {
	background-color: var(--background-color-light);
	color: var(--text-color-light);

	--current-background: var(--background-color-light);
	--current-text: var(--text-color-light);
	--current-background-inverse: var(--background-color-dark);
	--current-text-inverse: var(--text-color-dark);

	&.dark-mode {
		--current-background: var(--background-color-dark);
		--current-text: var(--text-color-dark);
		--current-background-inverse: var(--background-color-light);
		--current-text-inverse: var(--text-color-light);
	}
}

h3 {
	font-size: 2.5vh;
	display: flex;
	justify-content: center;
	text-align: center;
}

#loginform {
	height: 300px;
	border-radius: 0; 
	background-color: #7BB2C6;

	& .error {
		color: --text-color-light;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
}

#password {
	text-align: center;
	border: 1px solid black;
	border-radius: 0;
	line-height: 2rem;
}

.submit-button {
	width: 100px;
	height: 40px;
	border: 1px solid black;
	border-radius: 0;
	background-color: white;
	cursor: pointer;
}

.centred-element {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	text-align: center;
	line-height: 50px;
	justify-content: center;
}

/* Map location button */ 

.mapLocButton {
	cursor: pointer;
	/* border-radius: 50%; */
	background: none;
	/* border: 3.5px solid; */
	/* color: darkblue; */
	border: 1px solid black;
	color: black;
	background: white;
}

.cafeDiv {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 100px;

	input, textarea, p {
		border: 1px solid currentColor;
		outline: 2px transparent;
		margin: 2.5px;
		padding: 5px;
		font-size: small;

		background-color: var(--current-background);
		color: var(--current-text);

		&:focus {
			border: 1px solid royalblue;
			outline: 2px royalblue
		}
	}

	p {
		background-color: royalblue;
		&:focus {
			border: 1px solid currentColor;
			outline: 2px transparent;
		}
	}

	button {
		--button-hover-fx-len: 0;
		color: white;
		font-weight: bold;
		padding: 10px;
		margin-top: 30px;
		border: none;
		cursor: pointer;
		box-shadow: 0 0 0 100vmax inset rgb(0 0 0/var(--button-hover-fx-len,0%));

		&:active {
			scale: 99%;
		}

		&:hover {
			--button-hover-fx-len: 40%;
		}

		&.delete {
			background-color: crimson;
		}
		&.update {
			background-color: seagreen;
		}
		&.info {
			background-color: coral;
		}
		&.secondary {
			background-color: lightgrey;
			color: black;
		}
	}
}

dialog {
	width: 300px;
	height: 150px;
	overflow: hidden;

	background-color: var(--current-background);
	border: 1px solid var(--current-text);
	color: var(--current-text);
}
