:root {
	--background-color-light: #ffffff;
	--text-color-light: #000000;
	--background-color-dark: #121212;
	--text-color-dark: #ffffff;
}

html * {
	font-family: DMSans;
}

.dark-mode {
	background-color: var(--background-color-dark);
	color: var(--text-color-dark);
}

body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}

#loginform {
	width: 300px;
	height: 300px;
	/* box-shadow: 5px 5px 5px; */
	border-radius: 0; 
	background-color: rgba(100, 100, 100, 0.3);
}

#password {
	text-align: center;
	border: 1px solid black;
	border-radius: 0;
	line-height: 2rem;
}

.submit-button {
	width: 100px;
	height: 40px;
	border: 1px solid black;
	border-radius: 0;
	background-color: white;
}

.centred-element {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;

	text-align: center;
	line-height: 50px;
	justify-content: center;
}

/* Map location button */ 

.mapLocButton {
	cursor: pointer;
	border-radius: 50%;
	background: none;
	border: 3.5px solid;
	color: darkblue;
}

.cafeDiv {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 100px;

	input, textarea {
		border: none;
		margin-top: 2.5px;
		padding: 5px;
		font-size: small;

		background-color: var(--background-color-dark);
		color: var(--text-color-dark);

		&.dark-mode {
			background-color: var(--background-color-light);
			color: var(--text-color-light);
		}
	}

	.delete {
		background-color: indianred;
		color: white;
		font-weight: bold;
		padding: 10px;
		margin-top: 30px;
		border: none;
		cursor: pointer;
	}

	.update {
		background-color: darkolivegreen;
		color: white;
		font-weight: bold;
		padding: 10px;
		margin-top: 30px;
		border: none;
		cursor: pointer;
	}
}

h3 {
	font-size: 2.5vh;
	display: flex;
	justify-content: center;
	text-align: center;
}
