.leaflet-popup .leaflet-zoom-animated {
	margin-left: 15px;
	margin-bottom: 25px;
}

.leaflet-popup-content-wrapper {
	border: 1px solid black;
	border-radius: 0;
	box-shadow: none;
}

.leaflet-popup-tip {
	box-shadow: none;
	border: 1px solid black;
}

.leaflet-container a.leaflet-popup-close-button {
	display: none;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
	border: none;
}

.leaflet-touch .leaflet-bar {
	& a {
		border: 1px solid black;
		outline: none;
		border-radius: 0;
	}

	& a:first-child {
		margin-bottom: -1px;
	}
}

.checkbox-img {
	width: 35px;
	padding: 5% 10px 0px 2.5%;
}

.mapcheckbox {
	width: 60px;
	height: 30px;
	border-radius: 0;

	& .circle {
		width: 26px;
		height: 26px;
		top: 1px;
		left: 1px;
	}
}
