<div id="adminPanel">
	<div style="width: 100%;">
		<h3>Update cafe data</h3>
	</div>

	<div class="cafeDiv">
		<label for="SecretPassword">API post password:</label>
		<input type="password" id="SecretPassword">
	</div>
	<h3>Create Cafe</h3>
	<div class="cafeDiv">
		<label for="CreateCafe-name">Name:</label>
		<input type = "text" id = "CreateCafe-name"/>
		<label for="CreateCafe-positionx">Longtitude:</label>
		<input type="text" id="CreateCafe-positionx"/> 
		<label for="CreateCafe-positiony">Latitude:</label>
		<input type="text" id="CreateCafe-positiony"/> 
		<label for="CreateCafe-address">Address:</label>
		<input type="text" id="CreateCafe-address"/> 
		<label for="CreateCafe-coffee">Coffee:</label>
		<input type="text" id="CreateCafe-coffee"/> 
		<label for="CreateCafe-size">Size:</label>
		<input type="text" id="CreateCafe-size"/> 
		<label for="CreateCafe-price">Price:</label>
		<input type="text" id="CreateCafe-price"/> 
		<label for="CreateCafe-matcha">Matcha:</label>
		<input type="text" id="CreateCafe-matcha"/> 
		<label for="CreateCafe-chai">Chai:</label>
		<input type="text" id="CreateCafe-chai"/> 
		<label for="CreateCafe-notes">Notes:</label>
		<textarea id="CreateCafe-notes"></textarea>
		<label for="cafeCreated">Status:</label>
		<p id="cafeCreated">
			...
		</p>
		<button style="cursor: pointer;" class="update" id="createCafeButton">Create</button>
	</div>
	<h1 style = "font-size: 2.5vh; display: flex; justify-content: center; text-align: center;">Modify Cafe</h1>
	<div id="cafeEditsList">
	</div>
	<script>

		const passField = document.getElementById("SecretPassword")
		let topSecretPassword = "";
		passField.addEventListener("blur", () => {
			topSecretPassword = passField.textContent
		})

		async function create_cafe(name, positionx, positiony, address, coffee, size, price, matcha, chai, notes) {
			let response = await fetch("/create_cafe", {
				method : "POST",
				headers : {
					"Content-type": "application/json; charset=UTF-8"
				}, 
				body : JSON.stringify({
					password: topSecretPassword,
					cafe: {
						name: name,
						positionx: positiony,
						positiony: positionx,
						size: size,
						coffee: coffee,
						address: address,
						price: price,
						matcha: matcha,
						chai: chai,
						notes: notes
					}
				})
			})
			let data = await response.json()
			document.getElementById("cafeCreated").value = `${data}`
		}

		async function delete_cafe(cafename) {
			console.log(`deleting cafe ${cafename}`)
			let response = await fetch("/delete_cafe", {
				method : "POST",
				headers : {
					"Content-type": "application/json; charset=UTF-8"
				}, 
				body : JSON.stringify({
					password: topSecretPassword,
					cafe: {
						name: cafename
					}
				})
			})
			let data = await response.json()
		}

		async function modify_cafe(target, name, positionx, positiony, size, coffee, address, price, matcha, chai, notes) {
			let response = await fetch("/modify_cafe", {
				method : "POST",
				headers : {
					"Content-type": "application/json; charset=UTF-8"
				}, 
				body : JSON.stringify({
					password : topSecretPassword,
					cafe : {
						target : target,
						name : name,
						positionx : positionx,
						positiony : positiony,
						size : size,
						coffee : coffee,
						address : address,
						price : price,
						matcha : matcha,
						chai : chai,
						notes : notes
					}
				})
			})
			let data = await response.json();
			const responseText = document.getElementById(`${target}-responseText`)
			responseText.innerText = `status: ${data.status}`
		}

		async function cafe_delete_listener(event) {
			let locationArray = event.target.id.split("-")
			locationArray.pop()
			const location = locationArray.join("-")
			const cafeDiv = document.getElementById(`${location}-cafeDiv`)
			console.log(`deleting`,  location);
			await delete_cafe(location)
			cafeDiv.remove()
		}

		async function cafe_modify_listener(event) {
			let locationArray = event.target.id.split("-")
			locationArray.pop()
			const location = locationArray.join("-")
			const name = document.getElementById(`${location}-name`)
			const positionx = document.getElementById(`${location}-positionx`)
			const positiony = document.getElementById(`${location}-positiony`)
			const address = document.getElementById(`${location}-address`)
			const coffee = document.getElementById(`${location}-coffee`)
			const size = document.getElementById(`${location}-size`)
			const price = document.getElementById(`${location}-price`)
			const matcha = document.getElementById(`${location}-matcha`)
			const chai = document.getElementById(`${location}-chai`)
			const notes = document.getElementById(`${location}-notes`)
			console.log(`modifying with ${name}, ${positionx}, ${positiony}, ${address}, ${coffee}, ${size}, ${price}, ${matcha}, ${chai}, ${notes}`)
			await modify_cafe(location, name.value, positionx.value, positiony.value, size.value, coffee.value, address.value, price.value, matcha.value, chai.value, notes.value)
			const new_location = name.value
			name.id = new_location + "-name"
			positionx.id = new_location + "-positionx"
			positiony.id = new_location + "-positiony"
			address.id = new_location + "-address"
			coffee.id = new_location + "-coffee"
			size.id = new_location + "-size"
			price.id = new_location + "-price"
			matcha.id = new_location + "-matcha"
			chai.id = new_location + "-chai"
			notes.id = new_location + "-notes"
			event.target.id = new_location + "-button"
		}


		function addCafeEditField(cafeData) {
			const newCafeEdit = document.createElement("div")
			newCafeEdit.id = `${cafeData[0]}-cafeDiv`
			newCafeEdit.className = `cafeDiv`
			const cafeInfo = `<label for = "${cafeData[0]}-name">Name:</label>` + `<input type = "text" id = "${cafeData[0]}-name" value = "${cafeData[0]}"/>` + 
				`<label for = "${cafeData[0]}-positionx">Longtitude:</label>` + `<input type = "text" id = "${cafeData[0]}-positionx" value = "${cafeData[1]}"/>` + 
				`<label for = "${cafeData[0]}-positiony">Latitude:</label>` + `<input type = "text" id = "${cafeData[0]}-positiony" value = "${cafeData[2]}"/>` + 
				`<label for = "${cafeData[0]}-address">Address:</label>` + `<input type = "text" id = "${cafeData[0]}-address" value = "${cafeData[5]}"/>` + 
				`<label for = "${cafeData[0]}-coffee">Coffee:</label>` + `<input type = "text" id = "${cafeData[0]}-coffee" value = "${cafeData[4]}"/>` + 
				`<label for = "${cafeData[0]}-size">Size:</label>` + `<input type = "text" id = "${cafeData[0]}-size" value = "${cafeData[3]}"/>` + 
				`<label for = "${cafeData[0]}-price">Price:</label>` + `<input type = "text" id = "${cafeData[0]}-price" value = "${cafeData[6]}"/>` + 
				`<label for = "${cafeData[0]}-matcha">Matcha:</label>` + `<input type = "text" id = "${cafeData[0]}-matcha" value = "${cafeData[7]}"/>` + 
				`<label for = "${cafeData[0]}-chai">Chai:</label>` + `<input type = "text" id = "${cafeData[0]}-chai" value = "${cafeData[8]}"/>` + 
				`<label for = "${cafeData[0]}-notes">Notes:</label>` + `<textarea id = "${cafeData[0]}-notes">${cafeData[9]}</textarea>`
			newCafeEdit.insertAdjacentHTML('beforeend', cafeInfo)

			const submitButton = document.createElement('button')
			submitButton.id = `${cafeData[0]}-button`
			submitButton.className = `update`
			const submitButtonText = document.createTextNode("Save Cafe")
			submitButton.appendChild(submitButtonText)
			submitButton.addEventListener("click", async (event) => { cafe_modify_listener(event) })

			const deleteButton = document.createElement('button')
			deleteButton.id = `${cafeData[0]}-deletebutton`
			deleteButton.className = `delete`
			const deleteButtonText = document.createTextNode("DELETE Cafe")
			deleteButton.appendChild(deleteButtonText)
			deleteButton.addEventListener("click", async (event) => { cafe_delete_listener(event) })
			
			const responseLabel = document.createElement('div')
			responseLabel.innerText = "Update status: "
			const responseText = document.createElement('div')
			responseText.id = `${cafeData[0]}-responseText`
			responseText.innerText = "..."

			newCafeEdit.appendChild(responseLabel)
			newCafeEdit.appendChild(responseText)
			newCafeEdit.appendChild(submitButton)
			newCafeEdit.appendChild(deleteButton)

			const editList = document.getElementById("cafeEditsList")
			editList.appendChild(newCafeEdit)
		}

		(async() => {
			const cafeData = await fetch(
				"/cafes", {
					method : "GET", 
					headers : {
						"Content-type": "application/json; charset=UTF-8"
					}
				}
			)
			const data = await cafeData.json()
			if ("cafes" in data) {
				for (const cafe of data["cafes"])
					addCafeEditField(cafe)
			}
			else {

			}
		})()

		document.getElementById("createCafeButton").addEventListener("click", async (event) => { 
			const name = document.getElementById("CreateCafe-name").value
			const positionx = document.getElementById("CreateCafe-positionx").value
			const positiony = document.getElementById("CreateCafe-positiony").value
			const address = document.getElementById("CreateCafe-address").value
			const coffee = document.getElementById("CreateCafe-coffee").value
			const size = document.getElementById("CreateCafe-size").value
			const price = document.getElementById("CreateCafe-price").value
			const matcha = document.getElementById("CreateCafe-matcha").value
			const chai = document.getElementById("CreateCafe-chai").value
			const notes = document.getElementById("CreateCafe-notes").value

			create_cafe(name, positionx, positiony, address, coffee, size, price, matcha, chai, notes) 
		})

	</script>
</div>
