<div id="adminPanel">
	<script src = "{{ url_for('static', filename = 'admin_panel.html.js') }}"></script>
	<div style="width: 100%;">
		<h3>Update cafe data</h3>
	</div>

	<div class="cafeDiv">
		<label for="SecretPassword">API post password:</label>
		<input type="password" id="SecretPassword">
		<button class="info" id="snapshotCafeData">Snapshot current data</button>
	</div>
	<h3>Create Cafe</h3>
	<div class="cafeDiv">
		<label for="CreateCafe-name">Name:</label>
		<input type = "text" id = "CreateCafe-name"/>
		<label for="CreateCafe-positionx">Longtitude:</label>
		<input type="text" id="CreateCafe-positionx"/> 
		<label for="CreateCafe-positiony">Latitude:</label>
		<input type="text" id="CreateCafe-positiony"/> 
		<label for="CreateCafe-address">Address:</label>
		<input type="text" id="CreateCafe-address"/> 
		<label for="CreateCafe-coffee">Coffee:</label>
		<input type="text" id="CreateCafe-coffee"/> 
		<label for="CreateCafe-size">Size:</label>
		<input type="text" id="CreateCafe-size"/> 
		<label for="CreateCafe-price">Price:</label>
		<input type="text" id="CreateCafe-price"/> 
		<label for="CreateCafe-matcha">Matcha:</label>
		<input type="text" id="CreateCafe-matcha"/> 
		<label for="CreateCafe-chai">Chai:</label>
		<input type="text" id="CreateCafe-chai"/> 
		<label for="CreateCafe-notes">Notes:</label>
		<textarea id="CreateCafe-notes"></textarea>
		<label for="cafeCreated">Status:</label>
		<p id="cafeCreated">
			...
		</p>
		<button class="update" id="createCafeButton">Create</button>
	</div>
	<h1 style = "font-size: 2.5vh; display: flex; justify-content: center; text-align: center;">Modify Cafe</h1>
	<div id="cafeEditsList"></div>
	<dialog id="cafeDeleteConfirmation">
		<p>Are you sure?</p>
		<div class="cafeDiv">
			<button commandfor="cafeDeleteConfirmation" command="close" class="secondary">Cancel</button>
			<button commandfor="cafeDeleteConfirmation" command="close" class="delete" onclick="delete_target_cafe()">Delete</button>
		</div>
	</dialog>
</div>
