<div class = "centred-element" style = "width: 100%">
	<script src="{{ url_for('static', filename = 'map.js') }}"></script>
	<script src="{{ url_for('static', filename = 'map.html.js') }}"></script>
	<div 
		id="datacontainer" 
		data-toilet-icon='{{ url_for("static", filename = "images/ToiletIcon.png") }}'
		data-cup-icon='{{ url_for("static", filename = "images/CupIcon.png") }}'
	></div>
	<div style = "display: flex; justify-content: left; align-items: center; padding: 20px;">
		<!-- <img src = '{{ url_for("static", filename = "images/cup.png") }}' alt = "Site Icon" style = "width: 100px; padding: 0px 5% 1% 0px""/> -->
		<div style = "display: flex; justify-content: center; width: 100%;">
			<img src = '{{ url_for("static", filename = "images/CupIcon.png") }}' alt="Cafe Icon" class="checkbox-img"/>
			<label style = "padding: 5% 10px 0px 0px;">
				<input type="checkbox" id = "cafeSwitch" onclick="updateMarks()" checked>
				<div class="switch blue mapcheckbox">
					<div class="circle"></div>
				</div>
			</label>
			<img src = "{{ url_for('static', filename='images/ToiletIcon.png') }}" alt="Toilet Icon" class="checkbox-img"/>
			<label style = "padding: 5% 10px 0px 0px;">
				<input type="checkbox" id = "toiletSwitch" onclick="updateMarks()">
				<div class="switch green mapcheckbox">
					<div class="circle"></div>
				</div>
			</label>
		</div>
	</div>
	<div style = "position: absolute; bottom: 7.5%; left: 1.5%; z-index: 999999;">
		<button type = "button" class = "mapLocButton" style = "" onclick = "switchLocationOn()">
			<svg width = "60px" height = "60px" viewBox='30 70 150 150' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m 104.99979,92.928695 c -2.67709,0 -4.83226,2.155174 -4.83226,4.832263 v 7.872902 a 43.21183,43.21183 0 0 0 -38.033338,38.03386 h -7.873421 c -2.677089,0 -4.832264,2.15517 -4.832264,4.83226 0,2.67709 2.155175,4.83226 4.832264,4.83226 h 7.873421 a 43.21183,43.21183 0 0 0 38.033338,38.03386 v 7.8729 c 0,2.67709 2.15517,4.83226 4.83226,4.83226 2.67709,0 4.83227,-2.15517 4.83227,-4.83226 v -7.8729 a 43.21183,43.21183 0 0 0 38.03385,-38.03386 h 7.8729 c 2.67709,0 4.83278,-2.15517 4.83278,-4.83226 0,-2.67709 -2.15569,-4.83226 -4.83278,-4.83226 h -7.80882 a 43.21183,43.21183 0 0 0 -38.09793,-38.09794 v -7.808822 c 0,-2.677089 -2.15518,-4.832263 -4.83227,-4.832263 z m 0,21.559405 a 34.01189,34.01189 0 0 1 34.01188,34.01188 34.01189,34.01189 0 0 1 -34.01188,34.01188 34.01189,34.01189 0 0 1 -34.011875,-34.01188 34.01189,34.01189 0 0 1 34.011875,-34.01188 z'/></svg>
		</button> 
	</div>
	<div id="map"></div>
</div>


